<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ site.baseurl }}/index.html" class="navbar-brand">LMS3 Documentation</a>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li{% if page.slug == "grunt-worflow" %} class="active"{% endif %}>
					<a href="{{ site.baseurl }}/grunt-workflow.html">Grunt workflow</a>
				</li>
				<li{% if page.slug == "problems-and-solutions" %} class="active"{% endif %}>
					<a href="{{ site.baseurl }}/problems-and-solutions.html">Problems and solutions</a>
				</li>
				<li{% if page.slug == "mongodb-schema" %} class="active"{% endif %}>
					<a href="{{ site.baseurl }}/mongodb-schema.html">MongoDB schema</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li{% if page.slug == "about" %} class="active"{% endif %}>
					<a href="{{ site.baseurl }}/about.html">About</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
