<!DOCTYPE html>
<html ng-app="lms">
	<head>
		<title ng-bind="pageTitle">LMS3<!-- @if SERVER!='production' --> - <!-- @echo SERVER --><!-- @endif --></title>

		<!-- build:css styles/styles.min.css -->
		<!-- include: "type": "css", "files": "styles/*.css" -->
		<!-- endbuild -->
	</head>
	<body>
		<section ng-view></section>

		<!-- build:js scripts/main.min.js -->
		<!-- include: "type": "js", "files": "scripts/libs/angular-*.js" -->
		<!-- include: "type": "js", "files": "scripts/libs/jquery-*.js" -->
		<!-- include: "type": "js", "files": "scripts/libs/bootstrap-*.js" -->
		<!-- include: "type": "js", "files": "scripts/!(libs)/*.js" -->
		<!-- include: "type": "js", "files": "scripts/angular-templates.js" -->
		<!-- include: "type": "js", "files": "scripts/lms.js" -->
		<!-- endbuild -->

		<!-- @if LIVERELOAD=true -->
			<script src="//localhost:5555/livereload.js"></script>
		<!-- @endif -->
	</body>
</html>

