<!DOCTYPE html>
<html ng-app="LMS3" ng-controller="MainCtrl">
	<head>
		<title ng-bind="pageTitle"></title>

        <!-- build:css styles/main.min.css -->
		<!-- include: "type": "css", "files": "public/styles/**/*.css" -->
		<!-- endbuild -->
	</head>
	<body>
		<!-- Add your site or application content here -->
		<div class="container" ng-view=""></div>


		<br>
		livereloaded 2

        <!-- build:js scripts/main.min.js -->
		<!-- include: "type": "js", "files": "public/scripts/**/*.js" -->
		<!-- endbuild -->
	</body>
</html>

