<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.theme.name }} - {{ page.title }}</title>
		<meta name="author" content="{{ site.theme.name }}" />
		<meta name="description" content="The blog of {{ site.theme.name }}" />
		<link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}" />

		<link rel="shortcut icon" href="/favicon.png">
		<link href="assets/css/style.min.css" rel="stylesheet"></link>
	</head>
	<body>
		{% include nav.html %}

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="nav-sidebar hidden-print affix" role="complementary">
						<ul class="nav nav-sidenav">
							{% if page.slug == "grunt-workflow" %}
								{% include sidenav-grunt-workflow.html %}
							{% elsif page.slug == "problems-and-solutions" %}
								{% include sidenav-problems-and-solutions.html %}
							{% else %}
								{% include sidenav-home.html %}
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="col-md-9 content" role="main">
					{{ content }}
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script>
			jQuery(document).ready(function( $ ){
				var $body = $(document.body),
					$navbar = $('.navbar'),
					$navSidebar = $('.nav-sidebar');

				var fixNav = function(){
					var $fixedNavFix = $('#fixedNavFix').remove(),
						value = parseInt($navbar.outerHeight(true), 10) + 10,
						style = document.createElement('style'),
						css = 'body { padding-top: '+ value +'px; } h1[id], h3[id] { padding-top: '+ value +'px; margin-top: '+ (Math.floor(value / 2) + 5) +'px; }';

					style.id = "fixedNavFix";
					style.type = 'text/css';
					if( style.styleSheet ){
						style.styleSheet.cssText = css;
					} else {
						style.appendChild( document.createTextNode(css) );
					}

					document.head.appendChild( style );
				};

				$(window)
					.on('load', function(){
						fixNav();
					})
					.resize(function(){
						fixNav();
					});

				if( $navSidebar.find('.nav-sidenav').find('li').length === 0 ){
					//generate sidenav from content markup if none found
					//used to generate home page sidenav, then copy paste it in _includes/sidenav-home.html
					var sidenav = "";
					$('.content').find('h1')
						.each(function(){
							var $this = $(this);
							sidenav += '<li><a href="#'+ this.id +'">'+ $this.text().replace(':', '') +'</a>';

							var $sub = $this.nextUntil('h1', 'h3');
							if( $sub.length ){
								sidenav += '<ul class="nav">';
								$sub.each(function(){
									sidenav += '<li><a href="#'+ this.id +'">'+ $(this).text() +'</a>';
								});
								sidenav += '</ul>';
							}

							sidenav += '</li>';
						});

					$navSidebar.find('.nav-sidenav').html( sidenav );
				}

				$body.scrollspy({
					target: '.nav-sidebar',
					offset: $navbar.outerHeight(true) + 10
				});
			});
		</script>
	</body>
</html>
