<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ site.theme.name }} - {{ page.title }}</title>
		<meta name="author" content="{{ site.theme.name }}" />
		<meta name="description" content="The blog of {{ site.theme.name }}" />
		<link rel="canonical" href="{{ site.baseurl }}{{ page.url | replace:'index.html','' }}" />

		<link rel="shortcut icon" href="/favicon.png">
		<link href="assets/css/pygments.css" rel="stylesheet"></link>
		<link href="assets/css/bootstrap.css" rel="stylesheet"></link>
		<link href="assets/css/bootstrap-theme.css" rel="stylesheet"></link>
		<link href="assets/css/font-awesome.css" rel="stylesheet"></link>
		<link href="assets/css/styles.css" rel="stylesheet"></link>
	</head>
	<body>
		{% include nav.html %}

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="nav-sidebar hidden-print affix" role="complementary">
						<ul class="nav nav-sidenav">
							<!-- auto generation using javascript -->
						</ul>
					</div>
				</div>
				<div class="col-md-9 content" role="main">
					{{ content }}
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script>
			jQuery(document).ready(function( $ ){
				var $body = $(document.body),
					$head = $(document.head),
					$navbar = $('.navbar'),
					$navSidebar = $('.nav-sidebar');

				//first generate the sidenav if needed
				if( $navSidebar.find('.nav-sidenav').find('li').length === 0 ){
					var sidenav = "",
						hasSub = false;
					$('.content').find('.doc-section').each(function(){
						$(this).find('h1, h3').each(function(){
							var $anchor = $(this);
							if( $anchor.is('h3') ){
								if( !hasSub ){
									hasSub = true;
									sidenav += '<ul class="nav">';
								}
							} else {
								if( hasSub ){
									hasSub = false;
									sidenav += '</ul>';
								}
								if( sidenav.length > 0 ){
									sidenav += '</li>';
								}
							}

							sidenav += '<li><a href="#'+ this.id +'">'+ $anchor.text().replace(':', '') +'</a>';
							if( $anchor.is('h3') ){
								sidenav += '</li>';
							}
						});
					});

					$navSidebar.find('.nav-sidenav').html( sidenav );
				}

				//second manage the navbar + scrollspy gaps
				var fixNav = function(){
					var value = parseInt($navbar.outerHeight(true), 10) + 10,
						style = document.createElement('style'),
						css = 'body { padding-top: '+ value +'px; } h1[id], h3[id] { padding-top: '+ value +'px; margin-top: '+ (Math.floor(value / 2) + 5) +'px; }';

					style.type = 'text/css';
					if( style.styleSheet ){
						style.styleSheet.cssText = css;
					} else {
						style.appendChild( document.createTextNode(css) );
					}

					$head[0].appendChild( style );

					//remove previous generated styles
					$head.find('style').filter(':not(:last-child)').remove();

					//refresh the offset value for scrollspy
					$body.scrollspy({
						target: '.nav-sidebar',
						offset: value
					});
				};

				$(window)
					.on('load', function(){
						fixNav();
					})
					.resize(function(){
						fixNav();
					});
			});
		</script>
	</body>
</html>
